* {
    padding: 0;
    margin: 0;
}

.container {
    border: 1px solid black;
    width: 300px;
    height: 280px;
    margin: 0 auto;
}

.container > div:nth-child(2n) {background: #ccc;}

.container div {
    float: left;
}

div {
    border: 2px dashed red;
}

.one {width: 100px; height: 50px;}
.two {width: 65px; height: 40px;}
.three {width: 50px; height: 45px;}
.four {width: 115px; height: 60px; clear: both; color: red;}
.five {width: 45px; height: 20px;}
.six {width: 50px; height: 30px;}

