* {
    padding: 0;
    margin: 0;
}

div {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
    float: left;
    margin-left: 40px;
}

.linear {
    background-image: repeating-linear-gradient(to left, black, gray 10px, white 10px);
}

.linear2 {
    background-image: linear-gradient(to bottom right, black, gray, white);
}

.linear3{
    background-image: linear-gradient(to right,black, blue 20%);
}

.linear4{
    background-image: linear-gradient(to right,black 33%, pink 67%, gray);
}

.clear {
    clear: both;
    border: none;
}

.radial {
    background-image: radial-gradient(cyan 0%, transparent 20%, salmon 40%);
  }
  
      