@import "reset.css";

.container {
    width: 70rem;
    height: 70rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 30rem);
    grid-template-rows:repeat(2, 30rem);
    grid-gap: 1rem;
}

.box1 {
    grid-area: 1 / 1 / 1 / 3;
    position: relative;
}

.box1 > div {
    border: .2rem solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #fff;
    color: #f00;
    font: 1.4rem /1 sans-sefir;
    position: absolute;
}

.lt {left: 0; top: 0; opacity: .7;}
.rt {right: 0; top: 0;}
.lb {left: 0; bottom: 0;}
.rb {right: 0; bottom: 0;}
.cc {left: calc(50%- 2.5rem); top: calc(50% - 2.5rem)}
.coord {left: 45rem; top: 15rem;}

.box2 {
    grid-area: 2 / 1 / 3 / 2;
    position: relative;
}

.box3 {
    grid-area: 2 / 2 / 2 / 3;
    position: relative;
    top: 5rem;
    left: 10rem;
    background-color: black;
}


