@import "reset.css";

.container{
    background-color: #4aa1c9;
    color: #fff;
    margin-bottom: .1rem;
    padding: 1rem 2rem;
    gap: .2rem;
}

@media all and (min-width: 480px) {
    .container {
        max-width: 120rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 6rem auto 8rem;
        grid-template-areas:
        "header header header"
        "aside main main"
        "footer footer footer"
        ;
    }

    header {grid-area: header;}
    aside {grid-area: aside;}
    main {grid-area: main;}
    footer {grid-area: footer;}
    /*header, footer {grid-column: 1 / 3;}
    main {grid-column: 2; grid-row: 2}
    aside {grid-column: 1; grid-row: 2}*/
}


