@import "reset.css";

.container{
    background-color: #4aa1c9;
    color: #fff;
    margin-bottom: .1rem;
    padding: 1rem 2rem;
    gap: .2rem;
    background-color: blue;
    text-align: center
}

@media screen and (min-width: 640px) {
    .container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 10rem repeat(6, minmax(3rem, auto));
        grid-gap: 0 1rem;
        grid-template-areas:
            "header header header header header header header header"
            "nav nav nav nav nav nav nav nav"
            "banner banner banner banner banner banner banner banner"
            "main main main main main main main main"
            "aside aside aside aside aside aside aside aside"
            "footer footer footer footer footer footer footer footer"
            "bar-bottom bar-bottom bar-bottom bar-bottom bar-bottom bar-bottom bar-bottom bar-bottom"
        ;
    }

    header {grid-area: header; background-color: black;}
    nav {grid-area: nav; background-color: red;}
    main {grid-area: main; background-color: violet; color: white;}
    aside {grid-area: aside;}
    .banner {grid-area: banner; background-color: white; color: blue;}
    footer {grid-area: footer;}
    .bar-bottom{grid-area: bar-bottom; background-color: black;}
}

@media screen and (min-width: 1040px) {
    .container {
        display: grid;
        grid-template-columns: 1fr repeat(8, 10rem) repeat(2, 12rem) 1fr;
        grid-template-rows: 10rem repeat(5, minmax(3rem, auto));
        grid-template-areas:
            "header header header header header header header header header header header header"
            "nav nav nav nav nav nav nav nav nav nav nav nav"
            "... banner banner banner banner banner banner banner banner banner banner ..."
            "... main main main main main main main main aside aside ..."
            "footer footer footer footer footer footer footer footer footer footer footer footer"
            "bar-bottom bar-bottom bar-bottom bar-bottom bar-bottom bar-bottom bar-bottom bar-bottom bar-bottom bar-bottom bar-bottom bar-bottom"
        ;
    }
}

